.nav-menu {
    background-color: #ceab47 !important;
}

.nav-menu a {
    color: #000000;
}

.submenu {
    background-color: #edc874 !important;
}


.arrow::after {
    content: "";
    background-color: #f3f4f6;
    position: absolute;
    width: 15px;
    height: 15px;
    rotate: 45deg;
    right: -7px;
    margin-top: 4px;

}

.tabela-entrega {
    color: #1c2236;
    width: 98%;
    max-width: 860px;
    margin: auto;
}

.tabela-entrega th {
    color: #967624;
    height: 2em;
    font-size: 1.3em;
    /*text-align: left*/
}

.table-line {
    border-bottom: #f8c758 solid 1px;
}

.table-line:nth-child(even) {
    /*background-color: #f8c758;*/

}


.table-line td {
    /*padding: 0.5em 0;*/
}

.table-line td:last-child {
    border-left: #f3f4f6 solid 1px;
    text-align: center;
}


/*Filter Bar*/

.filter-bar {
    display: flex;
    width: 80%;
    max-width: 860px;
    margin: auto;
    column-gap: 5px;

}

#nome {
}

#data {
}

#status {
}

#form-filter {
    background-color: #f8c758;
}

#form-filter:hover {
    background-color: #ecbe53;
}

@media only screen and (max-width: 600px) {

    /*.table-line{*/
    /*    text-align: center;*/
    /*}*/
    /*.table-line td {*/
    /*    text-align: center;*/
    /*    vertical-align: center;*/
    /*}*/
    /*.table-line td:last-child {*/
    /*    width: 30px;*/
    /*}*/
    .filter-bar {
        flex-direction: column;
    }

    #form-filter {
        margin-top: 0.8em;
    }

    .arrow::after {
        display: none;
    }
}
